<footer class="bottom-nav">
    <nav>
        <ul class="bottom-nav-links">
            <li><a href="/"><i class="bi bi-house-door"></i> Home</a></li>
            <li><a href="/weather"><i class="bi bi-cloud-sun"></i> Weather</a></li>
            <li><a href="/settings"><i class="bi bi-gear"></i> Settings</a></li>
            <li><a href="/help"><i class="bi bi-question-circle"></i> Help</a></li>
            <li><a href="/counter"><i class="bi bi-speedometer2"></i> Counter</a></li>
            <li><a href="/about"><i class="bi bi-info-circle"></i> About</a></li>
        </ul>
    </nav>
</footer>

