<header class="top-nav">
    <nav>
        <ul class="top-nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/weather">Weather</a></li>
        </ul>
    </nav>
</header>